header {
    position: sticky;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    height: 100%;
    padding: 10px 2.4rem;
    box-shadow: var(--base-box-shadow);
    font-family: var(--base-font-family);
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

.flex-flow-logo {
    display: flex;
    align-items: center;
}

.site-brand {
    color: var(--text-color);
    text-transform: capitalize;
    text-decoration: none;
    font-size: 2.8rem;
}

.site-brand>h5 {
    font-family: var(--base-logo-font-family);
    font-weight: normal;
    letter-spacing: 0.1rem;
}

.auth-client {
    font-size: 2.8rem;
    text-transform: capitalize;
    font-weight: bolder;
}

.logo-mobile-tab-alternative {
    display: none;
}

.logo img {
    width: 40px;
    margin-right: 4px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.8568rem;
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--primary-color);
}

nav>ul>li::after {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 0;
    background: #e6e5e5;
    width: 1px;
    height: 88%;
    right: -10px;
}

nav>ul>li:nth-child(4):after {
    display: none;
}

.dropdown__menu {
    display: none;
    position: absolute;
    left: -40%;
    top: 130%;
    min-width: 180px;
    border: 1px solid #5e5e5e;
    border-style: thin;
    border-color: #9c9c9c6c;
    background: var(--background-color);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
}

nav ul li:hover .dropdown__menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0.5s;
}


.dropdown__menu>ul {
    display: block;
    padding: 5px;
}

.dropdown__menu>ul>li {
    display: block;
    width: 100%;
    padding: 2px;
}

.dropdown__menu>ul>li:nth-child(2) {
    border-top: 1px solid #5e5e5e;
    border-style: thin;
    border-color: #9c9c9c6c;
}

.dropdown__menu>ul>li:nth-child(3) {
    border-top: 1px solid #5e5e5e;
    border-style: thin;
    border-color: #9c9c9c6c;
}

.dropdown__menu>ul>li>a:focus {
    border: 1.8px solid;
    border-style: dashed;
    border-color: var(--mentIQ-color-blue);
}

.dropdown__menu>ul>li>a {
    display: block;
    width: 100%;
    font-family: var(--MentorIQ-primary-font);
    font-weight: 500;
    padding: 5px;
    font-size: 0.856rem;
}

.dropdown__menu>ul>li>a:hover {
    border-radius: 5px;
    font-weight: 600;
    padding-left: 10px;
    transition: 0.3s ease-in-out;
}

.actions {
    display: flex;
    align-items: center;
}

#plugin {
    margin-right: 20px;
    border: none;
    background: none;
    font-size: 0.245in;
    cursor: pointer;
    color: var(--mentIQ-color-black);
}

#plugin:hover {
    color: var(--mentIQ-color-black);
}

.btn {
    margin-right: 10px;
    padding: 10px 25px;
    border: 1px solid #0263a8;
    color: #fff;
    cursor: pointer;
    font-size: 0.856rem;
    font-family: var(--bold-base-font-family);
    border-radius: 1px;
}

.btn-links-mobile-s-display {
    display: none;
}

.login-btn {
    background: #f5f4f4;
    color: var(--text-color);
    border: none;
}

.signup-btn {
    background: #023f6b;
    color: #fff;
    transition: all 0.5s ease-in-out;
    padding: 10px 20px;
    border: none;
}

.lang-btn {
    background: transparent;
    color: var(--mentIQ-color-blue);
    padding: 10px 15px;
    text-transform: capitalize;
}

.login-btn:hover {
    background: #dad8d8;
    transition: 0.3s ease-in-out;
}

.lang-btn:hover {
    background: #f5f4f4;
}

.signup-btn:hover {
    background: var(--primary-hover-color);
    transition: 0.3s ease-in-out;
}

.popup {
    position: sticky;
    top: 9.8%;
    z-index: 50;
}

.language-list,
.career-msg-popup-box,
.investors-popup-box,
.search-result-help {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    width: 200px;
    margin-right: 48px;
    display: none;
    border: 1px solid #5e5e5e;
    border-style: thin;
    border-color: #9c9c9c6c;
    z-index: 50;
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.career-msg-popup-box,
.investors-popup-box {
    width: 300px;
    padding: 15px;
    margin-right: 0;
    transform: translateX(-130%);
}

#pop-0 {
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--bold-base-font-family);
    margin-bottom: 10px;
}

#pop-1 {
    width: 100%;
    padding: 10px;
    font-family: var(--bold-base-font-family);
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right,
            var(--primary-color) 0%,
            var(--primary-color) 51%,
            #0263a8 100%);
    background-size: 150% auto;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

#pop-1:hover {
    background-position: right;
}

@keyframes slideDown {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

.language-list li {
    padding: 8px 5px;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.language-list li img {
    width: 10%;
    margin-right: 8px;
}

.language-list li a {
    text-decoration: none;
    width: 100%;
    color: #333;
    padding: 0px 0px;
    font-size: 0.9168rem;
    font-weight: 500;
    font-family: var(--MentorIQ-primary-font);
}

.language-list li:hover {
    background-color: #f1f1f1;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 4px 0;
    transition: all 0.3s ease;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 20px;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(3px, 5px);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -8px);
}

/* Media Queries @ 870px */
@media screen and (max-width: 870px) {
    .logo-desktop-bynd {
        display: none;
    }

    .logo-mobile-tab-alternative {
        display: block;
    }

    .logo-mobile-tab-alternative img {
        width: 40px;
    }

    nav ul li a {
        font-size: 0.8rem;
    }

    .btn {
        margin-right: 10px;
        padding: 10px 20px;
        border: 1px solid var(--primary-color);
        cursor: pointer;
        font-family: var(--bold-base-font-family);
        font-size: 0.8rem;
        font-weight: bold;
    }
}

/* Media Queries @ 750px */
@media screen and (max-width: 755px) {

    /* Showing alternate logo types depending of screen-size */
    .logo-desktop-bynd {
        display: block;
    }

    .logo-mobile-tab-alternative {
        display: none;
    }

    .logo span, .desktops-only {
        display: none;
    }

    /* Displaying the hamburger at mobile and tablet screens */
    .hamburger {
        display: block;
    }

    #dropdown-icon-header {
        color: var(--mentIQ-color-white);
    }

    nav ul li:hover .dropdown__menu {
        position: static;
        top: auto;
        min-width: auto;
        margin-top: 2.5%;
        border: none;
        border-top: none;
        background: hsla(0, 0%, 100%, 0.925);
        border-radius: 5px;
    }

    .dropdown__menu>ul>li>a {
        color: var(--mentIQ-color-black);
    }

    nav>ul>li::after {
        display: none;
    }


    /* Mobile & Tablet Menu Styling */
    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background: rgb(0, 0, 0);
        padding: 10px;
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        margin: 0;
        z-index: 10;
        animation-name: display;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

    /* Animation for menu display */
    @keyframes display {
        0% {
            opacity: 0.4;
        }

        100% {
            opacity: 1;
        }
    }

    /* Menu List Styling */
    .menu>li {
        display: block;
        padding: 10px;
        width: 100%;
        border: 0.4px solid;
        border-style: thin;
        border-color: #7e7e7e;
        border-left: none;
        border-right: none;
        cursor: pointer;
    }

    .menu>li:hover {
        background: hsl(0 0% 100% / 0.1);
    }

    /* Menu anchor texts styling */
    .menu li a {
        color: var(--mentIQ-color-white);
        font-family: var(--MentorIQ-primary-font);
        width: 100%;
    }

    /* Menu anchor text hover styling */
    .menu>li>a:hover {
        color: var(--mentIQ-color-blue);
        font-weight: bolder;
    }

    /* Button shown in mobile and tablet screens */
    .btn-links-mobile-s-display {
        display: block;
        width: 100%;
        padding-top: 15px;
        border-bottom: none;
        margin-top: 10px;
    }

    /* Change in padding of btn for small screens under the size above */
    .login-btn,
    .signup-btn {
        padding: 10px 40px;
    }

    .signup-btn:focus {
        box-shadow: var(--MentorIQ-input-focus-shadow);
    }

    .signup-btn {
        border: none;
    }

    /* Custom styling to the login btn */
    .login-btn {
        background: var(--mentIQ-color-white);
        border: none;
        color: var(--mentIQ-color-black);
    }

    /* Hover styling to the login btn */
    .login-btn:hover {
        background: var(--mentIQ-color-white);
        font-weight: bolder;
    }

    /* Adding classlist for javascript to handle */
    .menu.open {
        display: flex;
    }

    /* Custom styling */
    .menu li {
        margin-right: 0;
        margin-bottom: 0px;
    }

    .menu li:nth-child(1) {
        border-top: none;
    }

    .menu li:nth-child(2) {
        border-top: none;
    }

    .menu li:nth-child(3) {
        border-top: none;
    }

    .menu li:nth-child(4) {
        border-top: none;
    }
}

/* Media Queries @ 400px */
@media screen and (max-width: 400px) {
    .logo-desktop-bynd {
        display: none;
    }

    .logo-mobile-tab-alternative {
        display: block;
    }
}